[submodule "assignments/tarea-2-2021-2-acastill20"]
	path = assignments/tarea-2-2021-2-acastill20
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-acastill20.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-afilsecker"]
	path = assignments/tarea-2-2021-2-afilsecker
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-afilsecker.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-AlexituationUC"]
	path = assignments/tarea-2-2021-2-AlexituationUC
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-AlexituationUC.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-AlfreMK"]
	path = assignments/tarea-2-2021-2-AlfreMK
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-AlfreMK.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-AlonsoZamorano"]
	path = assignments/tarea-2-2021-2-AlonsoZamorano
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-AlonsoZamorano.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-anamanzana"]
	path = assignments/tarea-2-2021-2-anamanzana
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-anamanzana.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-andrescf"]
	path = assignments/tarea-2-2021-2-andrescf
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-andrescf.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-antonioerr"]
	path = assignments/tarea-2-2021-2-antonioerr
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-antonioerr.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-baosse"]
	path = assignments/tarea-2-2021-2-baosse
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-baosse.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-BelenSilva1204"]
	path = assignments/tarea-2-2021-2-BelenSilva1204
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-BelenSilva1204.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-benjaalfoncho"]
	path = assignments/tarea-2-2021-2-benjaalfoncho
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-benjaalfoncho.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-benjaguiloff"]
	path = assignments/tarea-2-2021-2-benjaguiloff
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-benjaguiloff.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Benjale"]
	path = assignments/tarea-2-2021-2-Benjale
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Benjale.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-benjaminlillo"]
	path = assignments/tarea-2-2021-2-benjaminlillo
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-benjaminlillo.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-BMarink512"]
	path = assignments/tarea-2-2021-2-BMarink512
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-BMarink512.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-bvasquezm"]
	path = assignments/tarea-2-2021-2-bvasquezm
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-bvasquezm.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-camifranco"]
	path = assignments/tarea-2-2021-2-camifranco
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-camifranco.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-camilabarrera26"]
	path = assignments/tarea-2-2021-2-camilabarrera26
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-camilabarrera26.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-cbofill3"]
	path = assignments/tarea-2-2021-2-cbofill3
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-cbofill3.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-cefernandez1"]
	path = assignments/tarea-2-2021-2-cefernandez1
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-cefernandez1.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-cjdelacuadra"]
	path = assignments/tarea-2-2021-2-cjdelacuadra
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-cjdelacuadra.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-cjones27"]
	path = assignments/tarea-2-2021-2-cjones27
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-cjones27.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-clementethompson"]
	path = assignments/tarea-2-2021-2-clementethompson
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-clementethompson.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-clolate"]
	path = assignments/tarea-2-2021-2-clolate
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-clolate.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-cncosta"]
	path = assignments/tarea-2-2021-2-cncosta
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-cncosta.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-conyortizsimpson"]
	path = assignments/tarea-2-2021-2-conyortizsimpson
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-conyortizsimpson.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Coolgatty"]
	path = assignments/tarea-2-2021-2-Coolgatty
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Coolgatty.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-crisfernandezj"]
	path = assignments/tarea-2-2021-2-crisfernandezj
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-crisfernandezj.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-crvargasu"]
	path = assignments/tarea-2-2021-2-crvargasu
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-crvargasu.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-DaHunterTime"]
	path = assignments/tarea-2-2021-2-DaHunterTime
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-DaHunterTime.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Daniel-SebastianGaete"]
	path = assignments/tarea-2-2021-2-Daniel-SebastianGaete
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Daniel-SebastianGaete.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-DanoUC"]
	path = assignments/tarea-2-2021-2-DanoUC
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-DanoUC.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-domingo2000"]
	path = assignments/tarea-2-2021-2-domingo2000
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-domingo2000.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-DomingoCarvajal"]
	path = assignments/tarea-2-2021-2-DomingoCarvajal
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-DomingoCarvajal.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-dsilvc"]
	path = assignments/tarea-2-2021-2-dsilvc
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-dsilvc.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-F-arellano"]
	path = assignments/tarea-2-2021-2-F-arellano
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-F-arellano.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-fbarrosalcalde"]
	path = assignments/tarea-2-2021-2-fbarrosalcalde
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-fbarrosalcalde.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-felipeuribe99"]
	path = assignments/tarea-2-2021-2-felipeuribe99
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-felipeuribe99.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-festelle"]
	path = assignments/tarea-2-2021-2-festelle
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-festelle.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-fjhuanca"]
	path = assignments/tarea-2-2021-2-fjhuanca
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-fjhuanca.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-fnberrios"]
	path = assignments/tarea-2-2021-2-fnberrios
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-fnberrios.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-franciscavelascog"]
	path = assignments/tarea-2-2021-2-franciscavelascog
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-franciscavelascog.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-franciscogazitua"]
	path = assignments/tarea-2-2021-2-franciscogazitua
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-franciscogazitua.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-FranciscoXVI"]
	path = assignments/tarea-2-2021-2-FranciscoXVI
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-FranciscoXVI.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Gabowo"]
	path = assignments/tarea-2-2021-2-Gabowo
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Gabowo.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Gabucado"]
	path = assignments/tarea-2-2021-2-Gabucado
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Gabucado.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-gicatalan"]
	path = assignments/tarea-2-2021-2-gicatalan
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-gicatalan.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-hrhartmann"]
	path = assignments/tarea-2-2021-2-hrhartmann
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-hrhartmann.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-ignacioarteaga99"]
	path = assignments/tarea-2-2021-2-ignacioarteaga99
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-ignacioarteaga99.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-ignaciomansuy"]
	path = assignments/tarea-2-2021-2-ignaciomansuy
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-ignaciomansuy.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-IgnacioPorte"]
	path = assignments/tarea-2-2021-2-IgnacioPorte
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-IgnacioPorte.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-imuoz"]
	path = assignments/tarea-2-2021-2-imuoz
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-imuoz.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Itanfelz00"]
	path = assignments/tarea-2-2021-2-Itanfelz00
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Itanfelz00.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Jairuru"]
	path = assignments/tarea-2-2021-2-Jairuru
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Jairuru.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-jbulness"]
	path = assignments/tarea-2-2021-2-jbulness
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-jbulness.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-JDomingoSilva"]
	path = assignments/tarea-2-2021-2-JDomingoSilva
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-JDomingoSilva.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-jesusotov"]
	path = assignments/tarea-2-2021-2-jesusotov
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-jesusotov.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-jiaranda"]
	path = assignments/tarea-2-2021-2-jiaranda
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-jiaranda.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Jimnora"]
	path = assignments/tarea-2-2021-2-Jimnora
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Jimnora.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-jjverschueren"]
	path = assignments/tarea-2-2021-2-jjverschueren
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-jjverschueren.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-jnsepulveda2"]
	path = assignments/tarea-2-2021-2-jnsepulveda2
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-jnsepulveda2.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-joaquinmontes"]
	path = assignments/tarea-2-2021-2-joaquinmontes
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-joaquinmontes.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-JoMarchant"]
	path = assignments/tarea-2-2021-2-JoMarchant
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-JoMarchant.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Josecaceresb"]
	path = assignments/tarea-2-2021-2-Josecaceresb
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Josecaceresb.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-josefapv"]
	path = assignments/tarea-2-2021-2-josefapv
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-josefapv.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-josefeliuf"]
	path = assignments/tarea-2-2021-2-josefeliuf
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-josefeliuf.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-josemoreno98"]
	path = assignments/tarea-2-2021-2-josemoreno98
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-josemoreno98.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-josemquinta15"]
	path = assignments/tarea-2-2021-2-josemquinta15
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-josemquinta15.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-jtcaraball"]
	path = assignments/tarea-2-2021-2-jtcaraball
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-jtcaraball.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-JuanpaBC"]
	path = assignments/tarea-2-2021-2-JuanpaBC
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-JuanpaBC.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-juanpaxd"]
	path = assignments/tarea-2-2021-2-juanpaxd
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-juanpaxd.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-kipasten"]
	path = assignments/tarea-2-2021-2-kipasten
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-kipasten.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-KOlguin"]
	path = assignments/tarea-2-2021-2-KOlguin
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-KOlguin.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-lmpedreros"]
	path = assignments/tarea-2-2021-2-lmpedreros
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-lmpedreros.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-lonxo21"]
	path = assignments/tarea-2-2021-2-lonxo21
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-lonxo21.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-magdalenanario"]
	path = assignments/tarea-2-2021-2-magdalenanario
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-magdalenanario.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-maggiemunoz"]
	path = assignments/tarea-2-2021-2-maggiemunoz
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-maggiemunoz.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-M-Altamirano"]
	path = assignments/tarea-2-2021-2-M-Altamirano
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-M-Altamirano.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-MariaBarias"]
	path = assignments/tarea-2-2021-2-MariaBarias
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-MariaBarias.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mariotorresc"]
	path = assignments/tarea-2-2021-2-mariotorresc
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mariotorresc.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mariovaldesa"]
	path = assignments/tarea-2-2021-2-mariovaldesa
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mariovaldesa.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-MatiasBarraF"]
	path = assignments/tarea-2-2021-2-MatiasBarraF
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-MatiasBarraF.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-matumartinez"]
	path = assignments/tarea-2-2021-2-matumartinez
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-matumartinez.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-maureencooper"]
	path = assignments/tarea-2-2021-2-maureencooper
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-maureencooper.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Meaylwin"]
	path = assignments/tarea-2-2021-2-Meaylwin
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Meaylwin.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-meberrio"]
	path = assignments/tarea-2-2021-2-meberrio
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-meberrio.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mgnavarrete"]
	path = assignments/tarea-2-2021-2-mgnavarrete
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mgnavarrete.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mjrm99uc"]
	path = assignments/tarea-2-2021-2-mjrm99uc
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mjrm99uc.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Mjtala"]
	path = assignments/tarea-2-2021-2-Mjtala
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Mjtala.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mmontecino"]
	path = assignments/tarea-2-2021-2-mmontecino
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mmontecino.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mpenalozag"]
	path = assignments/tarea-2-2021-2-mpenalozag
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mpenalozag.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-mscuturrufo"]
	path = assignments/tarea-2-2021-2-mscuturrufo
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-mscuturrufo.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-MTSuarezS"]
	path = assignments/tarea-2-2021-2-MTSuarezS
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-MTSuarezS.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-nacholar"]
	path = assignments/tarea-2-2021-2-nacholar
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-nacholar.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-nes07"]
	path = assignments/tarea-2-2021-2-nes07
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-nes07.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Nicobuzeta"]
	path = assignments/tarea-2-2021-2-Nicobuzeta
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Nicobuzeta.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-nicoguz"]
	path = assignments/tarea-2-2021-2-nicoguz
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-nicoguz.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-nicolastobar"]
	path = assignments/tarea-2-2021-2-nicolastobar
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-nicolastobar.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-nmassardot"]
	path = assignments/tarea-2-2021-2-nmassardot
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-nmassardot.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-notyourlasagna"]
	path = assignments/tarea-2-2021-2-notyourlasagna
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-notyourlasagna.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-nsantama"]
	path = assignments/tarea-2-2021-2-nsantama
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-nsantama.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-OrregoSilva"]
	path = assignments/tarea-2-2021-2-OrregoSilva
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-OrregoSilva.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-pacristi"]
	path = assignments/tarea-2-2021-2-pacristi
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-pacristi.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-PapayaManco"]
	path = assignments/tarea-2-2021-2-PapayaManco
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-PapayaManco.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-PDabovich"]
	path = assignments/tarea-2-2021-2-PDabovich
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-PDabovich.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-pedro919"]
	path = assignments/tarea-2-2021-2-pedro919
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-pedro919.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-PedroFuenzalida"]
	path = assignments/tarea-2-2021-2-PedroFuenzalida
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-PedroFuenzalida.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-PipeOlivares"]
	path = assignments/tarea-2-2021-2-PipeOlivares
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-PipeOlivares.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-real-Cinfante"]
	path = assignments/tarea-2-2021-2-real-Cinfante
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-real-Cinfante.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-rmena1"]
	path = assignments/tarea-2-2021-2-rmena1
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-rmena1.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-RMMURUA"]
	path = assignments/tarea-2-2021-2-RMMURUA
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-RMMURUA.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-robertov1"]
	path = assignments/tarea-2-2021-2-robertov1
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-robertov1.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-SamWeinstein"]
	path = assignments/tarea-2-2021-2-SamWeinstein
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-SamWeinstein.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-santiagoolivos"]
	path = assignments/tarea-2-2021-2-santiagoolivos
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-santiagoolivos.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-SantinoDaloy"]
	path = assignments/tarea-2-2021-2-SantinoDaloy
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-SantinoDaloy.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sebaew98"]
	path = assignments/tarea-2-2021-2-sebaew98
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sebaew98.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Sebalti"]
	path = assignments/tarea-2-2021-2-Sebalti
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Sebalti.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sebastianbreguel"]
	path = assignments/tarea-2-2021-2-sebastianbreguel
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sebastianbreguel.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sebastian-contreras-r"]
	path = assignments/tarea-2-2021-2-sebastian-contreras-r
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sebastian-contreras-r.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sebastianmaureira"]
	path = assignments/tarea-2-2021-2-sebastianmaureira
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sebastianmaureira.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-shtmke"]
	path = assignments/tarea-2-2021-2-shtmke
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-shtmke.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-smacuna"]
	path = assignments/tarea-2-2021-2-smacuna
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-smacuna.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-smoralesw"]
	path = assignments/tarea-2-2021-2-smoralesw
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-smoralesw.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-smrebolledo"]
	path = assignments/tarea-2-2021-2-smrebolledo
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-smrebolledo.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Sofia-Arratia"]
	path = assignments/tarea-2-2021-2-Sofia-Arratia
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Sofia-Arratia.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sofiaolmedos"]
	path = assignments/tarea-2-2021-2-sofiaolmedos
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sofiaolmedos.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sofi-camino"]
	path = assignments/tarea-2-2021-2-sofi-camino
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sofi-camino.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-sopadeoliva"]
	path = assignments/tarea-2-2021-2-sopadeoliva
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-sopadeoliva.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-stgoct"]
	path = assignments/tarea-2-2021-2-stgoct
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-stgoct.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-TeresitaS"]
	path = assignments/tarea-2-2021-2-TeresitaS
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-TeresitaS.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-TiareM"]
	path = assignments/tarea-2-2021-2-TiareM
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-TiareM.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-tomasft0410"]
	path = assignments/tarea-2-2021-2-tomasft0410
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-tomasft0410.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-tuliomsch"]
	path = assignments/tarea-2-2021-2-tuliomsch
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-tuliomsch.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-vamarambio"]
	path = assignments/tarea-2-2021-2-vamarambio
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-vamarambio.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-vdiego28"]
	path = assignments/tarea-2-2021-2-vdiego28
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-vdiego28.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-VicenteGM123"]
	path = assignments/tarea-2-2021-2-VicenteGM123
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-VicenteGM123.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-VicenteMerino"]
	path = assignments/tarea-2-2021-2-VicenteMerino
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-VicenteMerino.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-vikingjuan"]
	path = assignments/tarea-2-2021-2-vikingjuan
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-vikingjuan.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-vsantelicest"]
	path = assignments/tarea-2-2021-2-vsantelicest
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-vsantelicest.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-yuwet15"]
	path = assignments/tarea-2-2021-2-yuwet15
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-yuwet15.git
	ignore = dirty
[submodule "assignments/tarea-2-2021-2-Zetaku1"]
	path = assignments/tarea-2-2021-2-Zetaku1
	url = git@github.com:IIC2613-Inteligencia-Artificial-2021-2/tarea-2-2021-2-Zetaku1.git
	ignore = dirty
